{% extends "rates/layout_choose_movie.html" %}

{% block body %}
  <div class="grid-container">
    <header>
      <h1>Choose the movie to be added:</h1>
    </header>
    <nav class="main-nav">
      <ul>
        <li><a href="../rates">Rates</a></li>
        <li><a href="../ranking">Ranking</a></li>
        <li><a href="../API">API</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
      </ul>
    </nav>
    <main>
      <ul>
        {% for movie in possible_movies.results %}
        <li><a href="{{ movie.id }}"><img src="{{ movie.image }}" width="300"> <br>{{ movie.id }} {{ movie.title }} {{ movie.description }}</a></li>
        {% endfor %}
      </ul>
    </main>

    <footer>
      <address>Desenvolvido por Leandro Almeida - leandro.jr@outlook.com</address>
    </footer>
  </div>
{% endblock %}