{% extends "rates/layout.html" %}

{% block body %}
  <h1>Movie Data:</h1>
  <ul>
    <li><img src="{{ movie_data.image }}" width="300"></li>
    <li>Title: {{ movie_data.title }}</li>
    <li>Release: {{ movie_data.year }}</li>
    <li>Runtime: {{ movie_data.runtime }} min</li>
    <li>Plot: {{ movie_data.plot }}</li>
    <li>Directed by: {{ movie_data.directors }}</li>
    <li>Main cast: {{ movie_data.stars }}</li>
  </ul>
  <form action="{% url 'movie_added' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add">
  </form>
{% endblock %}